/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable

*/
.bg, .wrap, .menu .new-general, .menu .new-general svg, .menu .new-check svg, .menu .new-note svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.menu {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.menu .new-check, .menu .new-note {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

* {
  user-select: none;
}

body {
  margin: 0;
  overflow: hidden;
  background: #0c132d;
}

.bg {
  background: url("../images/bg1.jpg");
  background-size: cover;
  background-position: center center;
  filter: blur(5px);
}

.wrap {
  height: 40vw;
  width: 60vw;
  background: rgba(150, 150, 150, 0.25);
  border-radius: 5px;
}
.wrap .sidebar {
  height: 40vw;
  width: 10vh;
  background: #dedede;
  position: absolute;
  border-radius: 5px;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wrap .sidebar .group {
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 10px;
  position: relative;
  word-wrap: break-word;
}
.wrap .sidebar .group svg {
  position: absolute;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  right: -5px;
  bottom: -5px;
  color: #545454;
  transition: 0.2s;
  opacity: 0;
  padding: 3px;
  cursor: pointer;
  transform: rotate(10deg);
  background: white;
}
.wrap .sidebar .group:hover svg {
  animation: 0.3s edit ease-in-out;
  animation-fill-mode: forwards;
}
.wrap .sidebar .group p {
  outline: none;
  border: none;
  background: rgba(190, 190, 190, 0);
  width: 100%;
  padding: 0;
  text-overflow: wrap;
  color: white;
  text-align: center;
  resize: none;
  overflow: hidden;
  margin: 0;
  font-family: "Ubuntu", "Work Sans", monospace, sans-serif;
  cursor: pointer;
}
.wrap .sidebar .group-red {
  background: red;
}
.wrap .sidebar .group-orange {
  background: orange;
}
.wrap .sidebar .group-yellow {
  background: yellow;
}
.wrap .sidebar .group-green {
  background: green;
}
.wrap .sidebar .group-blue {
  background: blue;
}
.wrap .sidebar .group-purple {
  background: purple;
}

.tabs {
  background: #dedede;
  position: absolute;
  border-radius: 5px;
  height: 3vh;
  width: calc(100% - 10vh - 5px);
  right: 0;
  display: flex;
  justify-content: flex-start;
  padding: 0.5vh;
  box-sizing: border-box;
}
.tabs .active-group {
  background: green;
  font-family: "Ubuntu", "Work Sans", monospace, sans-serif;
  padding-left: 3px;
  padding-right: 3px;
  height: 2vh;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: none;
  color: white;
}

.menu {
  background: rgba(150, 150, 150, 0.25);
  width: 30vh;
  height: 10vh;
  border-radius: 5px;
  bottom: -11vh;
  cursor: pointer;
}
.menu .new-general {
  border-radius: 5px;
  height: 80%;
  background: white;
  width: 10vh;
  transition: 0.2s;
}
.menu .new-general:hover {
  box-shadow: 0px 4px 5px #565656;
  top: -6px;
}
.menu .new-general svg {
  height: 80%;
  color: #545454;
}
.menu .new-check, .menu .new-note {
  border-radius: 5px;
  height: 6vh;
  width: 6vh;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}
.menu .new-check:hover, .menu .new-note:hover {
  box-shadow: 0px 4px 5px #565656;
  top: -6px;
}
.menu .new-check svg, .menu .new-note svg {
  height: 60%;
  color: #545454;
}
.menu .new-check {
  right: 20px;
}
.menu .new-note {
  left: 20px;
}

@keyframes edit {
  0% {
    opacity: 0;
    transform: rotate(10deg);
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 1000px) {
  .wrap {
    height: 80vh;
    width: 60vw;
    top: -10vh;
  }
  .wrap .sidebar {
    width: 60vw;
    height: 5vh;
    bottom: 0;
    flex-direction: row;
  }
  .wrap .sidebar .group {
    padding: 5px;
  }
}