@use "ext";

$group-red: red;
$group-orange: orange;
$group-yellow: yellow;
$group-green: green;
$group-blue: blue;
$group-purple: purple;

$gray: #545454;

$group-stack: "Ubuntu", "Work Sans", monospace, sans-serif;
$primary-stack: "Work Sans", "Ubuntu", sans-serif;


* {
    user-select: none;
}
body {
    margin: 0;
    overflow: hidden;
    background: #0c132d;
}

.bg {
    @extend %center;
    background: url("../images/bg1.jpg");
    background-size: cover;
    background-position: center center;
    filter: blur(5px);
}

.wrap {
    height: 40vw;
    width: 60vw;
    background: rgba(150, 150, 150, 0.25);
    @extend %center;
    border-radius: 5px;
    // overflow: hidden;
    .sidebar {
        height: 40vw;
        width: 10vh;
        background: #dedede;
        position: absolute;
        border-radius: 5px;
        left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .group {
            text-align: center;
            border-radius: 5px;
            color: white;
            padding: 10px;
            margin: 10px;
            position: relative;
            word-wrap: break-word;
            .group-edit {
                position: absolute;
                // border: 2px solid #444;
                border-radius: 100%;
                height: 20px;
                width: 20px;
                right: -5px;
                bottom: -5px;
                color:$gray;
                transition: 0.2s;
                opacity: 0;
                padding: 3px;
                cursor: pointer;
                transform: rotate(10deg);
                background: white;
            }
            &:hover .group-edit {
                animation: 0.3s edit ease-in-out;
                animation-fill-mode: forwards;
            }
            p {
                outline: none;
                border: none;
                background: rgba(190, 190, 190, 0);
                width: 100%;
                padding: 0;
                text-overflow: wrap;
                color: white;
                text-align: center;
                resize: none;
                overflow: hidden;
                margin: 0;
                font-family: $group-stack;
                cursor: pointer;
            }
        }
        .group-red{
            background: $group-red;
        }
        .group-orange {
            background: $group-orange;
        }
        .group-yellow {
            background: $group-yellow;
        }
        .group-green {
            background: $group-green;
        }
        .group-blue {
            background: $group-blue;
        }
        .group-purple {
            background: $group-purple;
        }
    }
}

.group-active-i {
    @extend %center-y;
    left: -30px;
    height: 20px;
    opacity: 0;
}
.group-active .group-active-i {
    opacity: 1;
}

.tabs {
    background: #dedede;
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 3vh;
    width: calc(100% - 10vh - 5px);
    right: 0;
    display: flex;
    justify-content: flex-start;
    // display: inline-block;
    // padding-top: 0.5vh;
    // padding-left: 0.5vh;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    .tab {
        background: #ffffff;
        font-family: $group-stack;
        padding-left: 9px;
        padding-right: 29px;
        height: 3vh;
        box-sizing: border-box;
        overflow: none;
        color: $gray;
        border-right: 1px solid #cdcdcd;
        font-family: monospace;
        font-weight: 700;
        line-height: 3vh;
        cursor: pointer;
        position: relative;
        &:hover:after {
            content: '\00D7';
            font-size: 25px;
            @extend %center-y;
            top: -1px;
            right: 9px;
        }
    }
    .active-tab {
        background: #ccc;
    }
}

.active {
    background: #ccc;
    height: calc(100% - 3vh);
    width: calc(100% - 10vh - 5px);
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu {
    @extend %center-x;
    // background: orange;
    background: rgba(150, 150, 150, 0.25);
    width: 30vh;
    height: 10vh;
    border-radius: 5px;
    bottom: -11vh;
    cursor: pointer;
    .new-general {
        border-radius: 5px;
        height: 80%;
        background: white;
        width: 10vh;
        @extend %center;
        transition: 0.2s;
        &:hover {
            box-shadow: 0px 4px 5px #565656;
            top: -6px;
        }
        svg {
            height: 80%;
            @extend %center;
            color:$gray;
        }
    }
    .new-check, .new-note {
        border-radius: 5px;
        height: 6vh;
        width: 6vh;
        background: white;
        @extend %center-y;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            box-shadow: 0px 4px 5px #565656;
            top: -6px;
        }
        svg {
            height: 60%;
            @extend %center;
            color:$gray;
        }
    }
    .new-check {
        right: 20px;
    }
    .new-note {
        left: 20px;
    }
}

@keyframes edit {
    0% {
        opacity: 0;
        transform: rotate(10deg);
    }
    25% {
        opacity: 1;
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}



@media screen and (max-width: 1000px) {

    .wrap {
        height: 80vh;
        width: 60vw;
        top: -10vh;
        .sidebar {
            width: 60vw;
            height: 5vh;
            bottom: 0;
            flex-direction: row;
            .group {
                padding: 5px;
            }
        }
    }

}