@use "ext";

$group-red: red;
$group-orange: orange;
$group-yellow: yellow;
$group-green: green;
$group-blue: blue;
$group-purple: purple;
$group-inactive: gray;

$gray: #545454;

$group-stack: "Ubuntu", "Work Sans", monospace, sans-serif;
$primary-stack: "Work Sans", "Ubuntu", sans-serif;


* {
    user-select: none;
}
body {
    margin: 0;
    overflow: hidden;
    background: #0c132d;
}

.bg {
    @extend %center;
    background: url("../images/bg1.jpg");
    background-size: cover;
    background-position: center center;
    filter: blur(5px);
}

.wrap {
    height: 40vw;
    width: 70vw;
    background: rgba(150, 150, 150, 0.25);
    @extend %center;
    border-radius: 5px;
    .sidebar-head {
        height: 50px;
        width: 20vh;
        background: rgba(150, 150, 150, 0.25);
        text-align: center;
        line-height: 50px;
        color: white;
        // padding-left: 20px;
        box-sizing: border-box;
        font-family: $primary-stack;
        font-size: 22px;
        border-top-left-radius: 5px;
    }
    .sidebar-tools {
        height: 40px;
        width: 20vh;
        background: white;
        text-align: center;
        line-height: 50px;
        color: white;
        // padding-left: 20px;
        box-sizing: border-box;
        font-family: $primary-stack;
        font-size: 22px;
        position: relative;
        .tool-wrap {
            display: flex;
            justify-content: space-evenly;
            height: 100%;
            svg {
                height: 25px;
                // position: absolute;
                color: $gray;
                cursor: pointer;
                transition: 0.2s;
                align-self: center;
                &:hover {
                    color: #333;
                }
            }
        }
        .tool-desc {
            margin: 0;
            position: absolute;
            bottom: 0;
            height: 15px;
            color: $gray;
            font-size: 12px;
            line-height: 15px;
            width: 100%;
            font-family: $group-stack;
        }
    }
    .sidebar {
        height: calc(40vw - 120px);
        width: 20vh;
        background: #dedede;
        position: absolute;
        left: 0;
        overflow: auto;
        top: 90px;
        .group {
            text-align: center;
            border-radius: 5px;
            color: white;
            padding: 10px;
            margin: 10px;
            padding-right: 20px;
            position: relative;
            word-wrap: break-word;
            // overflow: hidden;
            .group-menu {
                // background: orange;
                position: absolute;
                height: 20px;
                width: 100%;
                bottom: -25px;
                left: 0;
                display: flex;
                justify-content: space-evenly;
                border: none;
                overflow: hidden;
                svg {
                    height: 20px;
                    color: $gray;
                    cursor: pointer;
                    transition: 0.1s;
                    position: relative;
                    transition-timing-function: cubic-bezier(.2,.5,0,1);
                    // top: -50px;
                    &:hover {
                        color: #222;
                    }
                }
                .group-menu-edit {
                    transition-delay: 0.1s;
                }
                .group-menu-select {
                    transition-delay: 0.2s;
                }
            }
            p {
                outline: none;
                border: none;
                background: rgba(190, 190, 190, 0);
                width: 100%;
                padding: 0;
                text-overflow: wrap;
                color: white;
                text-align: center;
                resize: none;
                overflow: hidden;
                margin: 0;
                font-family: $group-stack;
                cursor: pointer;
            }
        }
    }
}

.group-inactive {
    .group-menu {
        svg {
            top: -30px;
        }
    }
}
.group-active {
    // right: 0;
    background: green;
    .group-menu {
        svg {
            top: 0;
        }
    }
}

.group-active-i {
    @extend %center-y;
    left: -30px;
    height: 20px;
    opacity: 0;
}
.group-active .group-active-i {
    opacity: 1;
}

.group-inactive {
    background: $group-inactive;
}

.active {
    background: #ccc;
    height: 100%;
    width: calc(100% - 20vh);
    position: absolute;
    right: 0;
    bottom: 0;
}

.menu {
    position: absolute;
    background: rgba(150, 150, 150, 0.25);
    width: 20vh;
    height: 80px;
    // border-radius: 5px;
    border-bottom-left-radius: 5px;
    bottom: 0;
    left: 0;
    cursor: pointer;
    .new-check, .new-note, .new-general {
        border-radius: 5px;
        height: 5vh;
        width: 5vh;
        background: white;
        @extend %center-y;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            box-shadow: 0px 4px 5px #5e5e5e;
            top: -6px;
        }
        svg {
            height: 60%;
            @extend %center;
            color:$gray;
        }
    }
    .new-check {
        right: 10px;
    }
    .new-note {
        left: 10px;
    }
    .new-general {
        @extend %center;
    }
}

@keyframes edit {
    0% {
        opacity: 0;
        transform: rotate(10deg);
    }
    25% {
        opacity: 1;
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}



@media screen and (max-width: 1000px) {

    .wrap {
        height: 80vh;
        width: 60vw;
        top: -10vh;
        .sidebar {
            width: 60vw;
            height: 5vh;
            bottom: 0;
            flex-direction: row;
            .group {
                padding: 5px;
            }
        }
    }

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-right: 2px;
}

::-webkit-scrollbar-thumb {
    background: #777;
    border-right: 5px solid #dedede;
    box-sizing: border-box;
}

::-webkit-scrollbar-button {
    display: none;
}