@use "_ext";

* {
    user-select: none;
}
body {
    margin: 0;
    overflow: hidden;
    background: #0c132d;
}

.bg {
    @extend %center;
    background: url("../images/bg1.jpg");
    background-size: cover;
    background-position: center center;
    filter: blur(5px);
}